* {
  padding: 0;
  margin: 0;
}

html {
  padding: 0;
  margin: 0;
  background: transparent;
  background: #000;
}

body {
  padding: 0;
  margin: 0;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  text-decoration: none;
}

img {
  display: block;
}

.App {
  display: flex;
  justify-content: center;
}

.calculator {
  width: 300px;
}

.calculator-output {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  background: #fff;
}

.calculator-flex {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.calculator-button {
  width: 100%;
  height: 30px;
  color: #000;
  background: #fff;
  cursor: pointer;
}

.calculator-button:hover {
  background: #e2b306;
}
